body {
    margin: 0;
    padding: 0;
  font-family: "Open Sans", "Adjusted Arial", "Tahoma", "Geneva", "Helvetica",
    "sans-serif";
}

.nav-bar {
    display: flex;
    column-gap: 980px;
    align-items: center;
    background-color: #D1F5FF;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px #7D53DE;
    padding: 0.5em;
}

.body {
    display: flex;
    column-gap: 90px;
    padding: 1em;
}

.container {
    background-color: #78E3FD;
    height: 100%;
    width: 100%;
}

.calendar {
    padding: 1em;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #7D53DE;
}

#calendar-body {
    display: grid;
    padding: 1em;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px;
    gap: 50px;
}

#web-logo {
    max-height: 100%;
    max-width: 100%;
    width: 150px;
    height: 75px;
}

#events {
    padding: 1em;
    display: grid;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #7D53DE;
    grid-template-columns: 50px 50px 50px;
    column-gap: 20px;
}

.footer {
    display: flex;
    column-gap: 530px;
    padding: 1em;
    background-color: #D1F5FF;
}

.body p {
    box-shadow: 1px 1px 1px 1px #7D53DE;
    padding: 0.3em;
    border-radius: 5px;
}