body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Adjusted Arial", "Tahoma", "Geneva", "Helvetica",
    "sans-serif";
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
}

main {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Main Content */

.main_card {
  width: 49%;
  height: 80%;
  background-color: #78e3fd;
}

/* Navbar */
#logo {
  height: 5em;
  width: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #d1f5ff;
}

#btnExit {
  border-radius: 100%;
  /* margin-right: 20px; */
  background-color: #eef8ff;
  color: black;
  padding: 1em;
}

/* Footer */

.footer {
  background-color: #d1f5ff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  bottom: 0;
}

.draggable-table__drag {
  font-size: 0.95em;
  font-weight: lighter;
  position: relative;

  border: 1px solid #f1f1f1;
  z-index: 10;
  cursor: grabbing;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);

  opacity: 0.5;
  background-color: #13ccff;
}

.draggable-table > tbody > tr > td {
  user-select: none;
}

.is-dragging {
  background: #d1f5ff;
  user-select: none;
}

.is-dragging > td {
  color: #78e3fd;
  user-select: none;
}

.draggable-table > tbody > tr {
  cursor: grabbing;
}
