<!DOCTYPE html>

<html>

<head>
    <%- include('../head'); %>
</head>

<body>
    <main>
        <%- include('../main'); %>
    </main>
    <footer>
        <%- include('../footer'); %>
    </footer>
</body>

</html>