body {
    margin: 0;
    padding: 0;
  font-family: "Open Sans", "Adjusted Arial", "Tahoma", "Geneva", "Helvetica",
    "sans-serif";
}

.nav-bar {
    display: flex;
    column-gap: 980px;
    align-items: center;
    background-color: #D1F5FF;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px #7D53DE;
    padding: 0.5em;
}

.body {
    display: flex;
    column-gap: 90px;
    padding: 1em;
}

.container {
    background-color: #78E3FD;
    height: 100%;
    width: 100%;
}

.calendar {
    padding: 1em;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px #7D53DE;
}

button:hover {
    cursor: pointer;
}

#djs {
    cursor: pointer;
}

#dj-names tr {
    display: grid;
    box-shadow: 1px 1px 1px 1px #7D53DE;
    padding: 0.67em;
    border-radius: 5px;
    grid-template-columns: 150px 150px 150px;
}

#user {
    background-color: #78E3FD;
    display: flex;
    border: 0.5px solid black;
    align-items: center;
    margin: 1px;
    justify-content: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

#user:hover {
    box-shadow: 1px 1px 2px black;
    background-color: #7D53DE;
    cursor: pointer;
}

#user:active {
    transform: translateY(1px);
    background-color: #7D53DE;
}

#calendar-body {
    display: grid;
    padding: 1em;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px;
    gap: 45px;
}

#month {
    display: grid;
    justify-content: center;
    grid-template-columns: 20px 150px 20px;
}

#arrow {
    border: 0.5px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: #D1F5FF;
}

#arrow:hover {
    background-color: #7D53DE;
    cursor: pointer;
}

#arrow:active {
    background-color: #7D53DE;
    transform: translateY(0.5px);
}

#calendar-body div:nth-child(n+8) {
    background-color: #D1F5FF;
    display: flex;
    margin: 1px;
    width: 40px;
    height: 40px;
    align-items: center;
    border: 0.1px solid black;
    justify-content: center;
    border-radius: 50%;
}

#calendar-body div:nth-child(n+1) {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    margin: 1px;
}

#calendar-body div:hover:nth-child(n+8) {
    background-color: #7D53DE;
    cursor: pointer;
    box-shadow: 1px 1px 2px black;
}

#calendar-body div:active:nth-child(n+8) {
    background-color: #7D53DE;
    transform: translateY(1px);
}

#pods tr {
    display: grid;
    grid-template-columns: 220px 160px 160px;
    box-shadow: 1px 1px 1px 1px #7D53DE;
    padding: 1em;
    border-radius: 5px;
}

#playlist {
    display: grid;
    font-size: large;
    grid-template-columns: 210px 190px 100px 10px 20px 0.5px 20px;
}

#song-buttons {
    background-color: #D1F5FF;
    border-radius: 10%;
    text-align: center;
    border: 0.5px solid black;
}

#song-buttons:hover {
    background-color: #7D53DE;
    cursor: pointer;
}

#song-buttons:active {
    background-color: #7D53DE;
    transform: translateY(0.5px);
}

#list {
    display: grid;
    grid-template-columns: 120px 200px;
    font-size: large;
}

#list-2 {
    display: grid;
    grid-template-columns: 180px 200px;
    font-size: large;
}

#song-names tr {
    display: grid;
    grid-template-columns: 400px 140px;
    border-radius: 5px;
    padding: 1.17em;
    box-shadow: 1px 1px 1px 1px #7D53DE;
}

#web-logo {
    max-height: 100%;
    max-width: 100%;
    width: 150px;
    height: 75px;
}

#events {
    padding: 1em;
    display: grid;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #7D53DE;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    column-gap: 15px;
}

#events div {
    border: solid 0.5px #7D53DE;
    box-shadow: 1px 1px #7D53DE;
    border-radius: 2px;
    padding: 1px;
    font-size: 12px;
    text-align: center;
}

#events div:hover {
    background-color: #42c4e4;
    box-shadow: 1px 1px 1px 1px #7D53DE;
    cursor: pointer;
}

#events div:active {
    background-color: #7D53DE;
    transform: translateY(1px);
}

.footer {
    display: flex;
    column-gap: 530px;
    padding: 1em;
    background-color: #D1F5FF;
}

.body p {
    box-shadow: 1px 1px 1px 1px #7D53DE;
    padding: 0.3em;
    border-radius: 5px;
}