<nav class="navbar">
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2px 10px;
    "
  >
    <img id="logo" src="/static/DJ/imgs/logo.png" />
  </div>
  <button id="btnUser">User</button>
</nav>
