<nav class="navbar">
  <a href="/">
    <img id="logo" src="/static/DJ/imgs/logo.png" />
  </a>
  <a href="/dj">DJ Page</a>
  <a href="/producer">Producer Page</a>
  <a href="/manager">Manager Page</a>
  <button id="btnExit" onclick="onExit()">Exit</button>
</nav>
