<nav class="navbar">
    <a href="/">
        <img id="logo" src="./static/Manager/imgs/logo.png">
    </a>
    <a href="/dj">DJ Page</a> 
    <a href="/producer">Producer Page</a>
    <a href="/manager">Manager Page</a>
    <button id="btnExit">Exit</button>
</nav>
