<!DOCTYPE html>

<html>

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <main>
        <%- include('../partials/main'); %>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>